:root {
  --hue-green: 153;
  --hue-red: 350;
}

/* semantic color variables for this project */
:root {
  --color-background: hsl(var(--hue-green), 50%, 30%);
  --color-background-soft: hsl(var(--hue-green), 40%, 60%);
  --color-background-light: hsl(var(--hue-green), 40%, 96%);
  --color-background-mute: hsl(var(--hue-green), 10%, 95%);

  --color-action: hsl(var(--hue-red), 60%, 50%);
  --color-action-soft: hsl(var(--hue-red), 50%, 90%);
  --color-action-light: hsl(var(--hue-red), 40%, 96%);
  --color-action-dark: hsl(var(--hue-red), 70%, 30%);

  --color-border: hsl(var(--hue-green), 10%, 85%);
  --color-border-soft: hsl(var(--hue-green), 10%, 90%);
  --color-border-light: hsl(var(--hue-green), 5%, 95%);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background-mute);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
